<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">


<link rel="stylesheet" href="../static/css/lumen/bootstrap.min.css"
      th:href="@{css/lumen/bootstrap.min.css}"/>

<link rel="stylesheet" href="../static/css/style.css"
      th:href="@{css/style.css}"/>

<!-- <script src="webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" ></script>-->
<!--<script src="webjars/jquery/3.2.1/jquery.min.js" ></script>-->

<script th:src="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js}"></script>


<head>

</head>
<body>


<div layout:fragment="content" class="container mySpace">


    <div class="alert alert-success">
        Registration success! Please sign in to continue
    </div>

</div>


</body>
</html>